.App {
  text-align: center;
}

.body{
  position:absolute;
  color:white;
}
.thaman{
  background-color: rgb(163, 163, 163);
  color: whitesmoke !important;
  
  

}
@media (min-width: 1200px) {
    .container {
        width: 550px;
    }
  }
    @media (min-width: 992px) {
    .container {
        width: 550px;
    }
  
  }
    @media (max-width: 500px) {
    .container {
        width: 350px;
    }
  }
  .calculator{
    width:100%;
    height:100%;
  }
  